/* Element Definition */
body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #45b29a;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #45b29a;
  font-weight: normal;
  padding-bottom: 10px;
}

h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #45b29a;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.container-fluid {
  padding: 0;
}

/* section welcome-view */
#welcome-view {
  background-color: #e0ebe8;
  padding: 0;
}

.navbar-logo {
  width: 20%;
  border-radius: 50%;
}

.top-background {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
}

.top-cloud-img {
  position: absolute;
  right: 300px;
  top: 40px;
  width: 8%;
}

.bottom-cloud-img {
  position: absolute;
  left: 250px;
  bottom: 300px;
  width: 18%;
}

/* section bio-intro */
#bio-intro {
  width: 50%;
  margin: 100px auto 100px auto;
}

.profile-picture {
  border-radius: 50%;
}

/* section skills */
#skills {
  width: 50%;
  margin: 100px auto;
}

.skill-list-title {
  text-align: left;
  padding-bottom: 30px;
}

.skill-list-software-proficiency {
  margin: 0 0 50px;
}

.skill-key-skill {
  border: solid #45b29a;
  text-align: center;
}

.software-proficiency-icon {
  width: 30%;
  border-radius: 20%;
  padding: 0;
  border: 0;
}

/* design-portfolio */
#design-portfolio {
  width: 75%;
  margin: 0 auto;
}

.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.blog .carousel-indicators .active {
  background: #707070;
}

/* work-experience */
#work-experience {
  width: 75%;
  margin: 0 auto;
}

.work-experience-column {
  text-align: justify;
  padding: 20px;
}

/* education */
#education {
  width: 50%;
  margin: 0 auto;
}

.education-timeline {
  margin: 0 auto;
}

ul.timeline {
  list-style-type: none;
  position: relative;
  text-align: left;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline>li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #45b29a;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.timeline-heading, .timeline-date {
  display: inline-block;
}

/* contact-me */
#contact-me {
  width: 75%;
  margin: 0 auto 100px;
}

.contact-me-button {
  margin: 10px 20px;
  background: #45b29a;
  background-image: -webkit-linear-gradient(top, #45b29a, #11999e);
  background-image: -moz-linear-gradient(top, #45b29a, #11999e);
  background-image: -ms-linear-gradient(top, #45b29a, #11999e);
  background-image: -o-linear-gradient(top, #45b29a, #11999e);
  background-image: linear-gradient(to bottom, #45b29a, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-me-button:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/* footer */
#footer {
  background-color: #c5ded7;
  padding: 50px 0 10px;
}

.footer-link {
  margin: 0px 10px;
  color: #45b29a;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

@media (max-width: 1028px) {
  .top-background-img {
    width: 100%;
  }

  #bio-intro {
    width: 90%;
  }

  #skills {
    width: 90%;
  }

  #design-portfolio {
    width: 90%;
  }

  #work-experience {
    width: 90%;
  }

  #education {
    width: 90%;
  }

  #contact-me {
    width: 90%;
  }
}
